.detailed-event {
  text-align: center;
  padding: 2rem 3rem;

  &-main {
    display: flex;
    justify-content: center;

    img {
      width: 30%;
      object-fit: cover;
      margin-right: 1rem;
    }
    p {
      text-align: justify;
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
